# Server Port
PORT=5000

# Firebase Admin SDK Credentials
FIREBASE_PROJECT_ID=cardapio-seletivo
FIREBASE_CLIENT_EMAIL=firebase-adminsdk@cardapio-seletivo.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nMIIEvgIBADANBgkqhkiG9w0BAQEFAASCBKgwggSkAgEAAoIBAQC...\n-----END PRIVATE KEY-----\n"
FIREBASE_STORAGE_BUCKET=cardapio-seletivo.appspot.com

# Webhook Secret & ParadisePay Gateway API
PAYMENT_WEBHOOK_SECRET=sua_chave_secreta_webhook
CHECKOUT_API_KEY=sk_sua_chave_paradise
